{% block title %}{{ heading or "Package Details"}}{% endblock %}
{% block content %}
<div>
Based on your organization size, please select a suitable plan. All the plans are upgradable, fully featured and includes hosting, support and updates. Any lower plan subscribed after a higher plan, pricing for higher plan will be considered. For example, if you need 20 users and you have subscribed for Advanced plan, additional Basic plan (5 users) will be computed at the rate of Advanced plan only. Hence your subscription will be calculated as: 20 * 15 * 12 = USD 3600 annually.<br>Subscription Plans <br><br>
	<table id='pricing' style="width:100%"> 
	</table>
</div>
<script>
	{% include "templates/includes/pricing.js" %}
</script>
{% endblock %}
